/* head
*/
.logo {
    font-family: 'Playfair Display', serif;
    display: inline-block;
    font-size: 36px;
    justify-content: space-around;
}

.logo span {
    color: #436a58;
}

.eye {
    height: 54px;
}

.fortess {
    width: 100%;
}

.header-list_item {
    display: inline-block;
    justify-content: space-between;
    font-size: 18px;
    color: #f2b75e;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    
}

.header-list_item:hover {
    color: #d74944;
}
/* head
*/

.cell {
    background-color: rgb(251, 247, 238);
    padding: 30px;
    margin: 1rem;
}
.comment {
    font-family: 'Playfair Display', serif;
    font-size: 3 rem; 
    color: #436a58;
    text-align: center;
}

.img-event {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: auto;
    margin-top: 10px;
    border: 2px #436a58;
    box-shadow: 25px 25px 15px 0px #f2b75e;
}