:root{
    margin: auto;
    max-width: 120;
}
.logo {
    font-family: 'PlayfairDisplay', serif;
    display: inline-block;
    font-size: 36px;
    justify-content: space-around;
}

.logo span {
    color: #436a58;
}

.eye {
    height: 54px;
}

.fortess {
    width: 100%;
}

.header-list_item {
    display: inline-block;
    justify-content: space-between;
    font-size: 18px;
    color: #f2b75e;
    
}

.header-list_item:hover {
    color: #d74944;
}

.carousel-item {
    margin: auto;
}