@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@500&family=Playfair+Display:wght@900&display=swap');

:root{
    margin: auto;
    max-width: 120;
}

.carousel-reviews {
    font-family: 'Rubik';
    color: rgb(137, 128, 130);
    text-align: center;
    height: 180px;
    display: flex;
    align-items: center;
}

.carousel {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    font-family: 'Rubik';
    color: rgb(137, 128, 130);
    text-align: center;
    margin-top: 20px;
}

.carousel-prev {
    background-color: rgb(251, 247, 238);
    border: 0px;
}  

.carousel-next {
    background-color: rgb(251, 247, 238);
    border: 0px;
}


.logo {
    font-family: 'Playfair Display', serif;
    display: inline-block;
    font-size: 36px;
    justify-content: space-around;
}

.logo span {
    color: #436a58;
}

.eye {
    height: 54px;
}

.fortess {
    width: 100%;
}

.header-list_item {
    display: inline-block;
    justify-content: space-between;
    font-size: 18px;
    color: #f2b75e;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    
}

.header-list_item:hover {
    color: #d74944;
}
.carrousel {
    position: relative;
}
.carousel-item {
    margin: auto;
    
}

.main {
    background-color: rgb(251, 247, 238);
}

p {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-align: justify;
    margin: 10px;
}

h1 {
    font-family: 'Playfair Display', serif;  
    color: #f2b75e;
    text-align: center;
}

.leuner-img {
    margin: auto;
    width: 90%;
}