.register-photo {
    display: flex;
    width: 50%;
    margin: auto;
    
}
.register-card {
    background-color: rgb(251, 247, 238);
}

body {
    background-color: #ffffff;
}

.register-name {
    text-align: center;
}

.register-text {
    text-align: center;
}